# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UniTrackReimagined.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore bin and obj folders
**/bin/
**/obj/
**/appsettings.json
appsettings.json
appsettings.Development.json
unitrack-firebase-credentials.json
.idea/.idea.UniTrackRemaster/.idea/.gitignore
.idea/.idea.UniTrackRemaster/.idea/.name
.idea/.idea.UniTrackRemaster/.idea/dataSources.xml
.idea/.idea.UniTrackRemaster/.idea/encodings.xml
.idea/.idea.UniTrackRemaster/.idea/indexLayout.xml
.idea/.idea.UniTrackRemaster/.idea/vcs.xml
